@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@100;400;500;600;700;800&family=Lato&family=Poppins:wght@100;300;400;500;600;700&family=Roboto+Mono:wght@100;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
  --clr-primary: #f25551;
  --clr-background: #241722;
  --clr-particle: #632329;
  --clr-text: #feede1;
  --clr-container: #462730;
  --clr-button: linear-gradient(180deg, #632329 0%, #f25551 49.65%, rgba(80, 242, 131, 0.8) 100%);

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: hsl(309, 22%, 6.5%);
  /* overflow: hidden; */
}

.particles {
  filter: blur(1px);
}

.block-container {
  padding: 2rem;
  width: 80%;
  margin: 0 auto;
  background-color: var(--clr-container);
}

.container h1 {
  font-size: 2.5rem;
  font-family: 'Poppins', sans-serif;
  color: var(--clr-text);
  text-align: center;
  letter-spacing: 0.15px;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.headline {
  font-size: 3rem;
  color:var(--clr-text) ;
}


#btn-start {
  background-color: var(--clr-primary);
  border: none;
  color: var(--clr-text);
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.15px;
  border-radius: 0.4rem;
  padding: 0.7rem;
  transition: color 0.3s;
}

#btn-start:hover {
  background-color: #ffd3d3;
  color: #de3344;
}

.dashboard {
  display: grid;
}

#headline {
  font-size: 0.9rem;
  font-family: 'Poppins', sans-serif;
  color: var(--clr-text);
  text-align: center;
  letter-spacing: 0.15px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--clr-text);
  align-items: center;
  padding: 16px 0;
  padding-right: 10px;
}

#addition {
  border: 3px solid hsl(354, 48%, 36%);
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  height: 2.5rem;
  background-color: hsl(354, 48%, 12%);
}
#addNew{
  border: 3px solid hsl(354, 48%, 36%);
  border-radius: 15px;
  background-color: hsl(309, 22%, 6.5%);
  color: hsl(354, 48%, 36%);
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  height: 1.5rem;
  width: 1.5rem;
}

#addition p {
  padding-left: 8px;
  font-size: 0.9rem;
  font-family: 'Poppins', sans-serif;
  color: hsl(354, 48%, 56%);
  
}

.none {
  display:none;
}

main {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.box {
  width: 10%;
  height: 20vh
  
}
aside .side-bar {
  /* display: none; */
  position: fixed;
  z-index: 6;
  width: 58%;
  height: 100vh;
  background-color: #3C4554;
}

.personal-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #feede1;
}

